:root {
  --uv-green-bg: #4f6000;
  --uv-green-text: #afce01;
  --uv-yellow: #fed141;
}

body {
  scrollbar-gutter: stable both-edges;

  #content,
  .container {
    width: 100%;
    max-width: none;
    margin: 0;
  }
}

.header-nav__menu {
  z-index: 100;
}

.libraryh3lp-tab {
  display: none !important;

  a {
    right: 50%;
    margin-right: -75px;
    padding-inline: 0.75rem;
    box-shadow: 0 0 0 1px rgb(255 255 255/0.3);
    animation: none;
  }
}

.to-top-btn {
  display: none;
}

.main {
  padding: 0;
}

header .container.navbar {
  max-width: none;
}

@media (min-width: 640px) {
  header .searchbox {
    margin-block: 0;
  }
}

.nav-submenu {
  z-index: 100;
}

.breadcrumbs {
  display: block;
  margin: 0;
  border: 0;
  font-size: 14px;
  background-color: #404040;

  /* align breadcrumbs and legacy link */
  .container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    background-color: transparent;

    /* remove Bootstrap float fixes that break grid */
    &::before,
    &::after {
      display: none;
    }
  }

  a {
    color: #e5e5e5;

    &:hover,
    &:focus {
      color: white;
    }
  }
}
.breadcrumb,
.breadcrumbs .container {
  border: 0;
}
.breadcrumb {
  margin: 0.5rem 0;
  padding: 0.25rem 0;
  background-color: transparent;
}
.breadcrumb-item {
  /* non-link breadcrumbs */
  &.active {
    color: #d4d4d4;
  }

  /* dividing slashes */
  & + &::before {
    color: #a3a3a3;
  }
}

.breadcrumb .dropdown-menu a {
  color: #000;
  text-shadow: none;
}

.sibling-form,
.sibling-form .navbar-nav,
.sibling-form .navbar-nav li {
  float: none;
  margin: 0;
  padding: 0;
}
.sibling-form .btn {
  display: block;
  margin: 1px;
  padding: 0.75rem;
  border: 0;
  color: #fff;
  background: #565656;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;

  &:hover,
  &:focus {
    border: 0;
    color: #fff;
    background: #343434;
  }
}
.sibling-form .navbar-nav {
  margin: 0;
}

/* This breakpoint was originally 799/800, but I adjusted to 992/993 to prevent wrapping problems - DK, 1/28/26 */
@media (max-width: 992px) {
  .sibling-form .nav, .sibling-form li {
    width: 100%;
  }
  .sibling-form .nav li .btn {
    display: block;
    text-align: center;
  }
}

@media (min-width: 993px) {
  .sibling-form {
    position: absolute;
    margin: 0;
    margin-top: 3px;
    margin-left: 5px;
    z-index: 1;
  }
  .sibling-form .navbar-nav,
  .sibling-form .navbar-nav li {
    float: left;
  }
  .sibling-form .btn {
    height: 30px;
    padding-block: 0.375rem;
    margin-right: 0;
  }
}

.popover {
  position: absolute;
  width: fit-content;
  max-width: none;
  margin-top: 1rem;
  background-color: var(--uv-yellow);
  box-shadow:
    0 10px 15px -3px rgb(0 0 0/0.1),
    0 4px 6px -4px rgb(0 0 0/0.1);
}
.popover::after {
  content: " ";
  position: absolute;
  top: -5px;
  right: 3.5rem;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid var(--uv-yellow);
}
.popover-content {
  padding: 0.375rem 1rem;
  color: #000;
  background-color: var(--uv-yellow);
  text-shadow: none;
  cursor: default;
}
.popover.bottom > .arrow::after {
  top: 2px;
  border-bottom-color: var(--uv-yellow);
}

#uv {
  width: 100%;
  height: 100vh;
  margin: 0;

  :is(&, div):is(:focus, :focus-visible) {
    box-shadow: none;
    outline: none;
  }

  :is(.btn, input):is(:focus, :focus-visible) {
    box-shadow: none;
    outline: 2px solid var(--uv-green-text);
    outline-offset: 0;

    i {
      outline: 0;
    }
  }

  .mainPanel :is(.leftPanel, .rightPanel):empty {
    display: none;
  }

  a {
    color: var(--uv-green-text);
  }

  .paging :is(.uv-icon-prev, .uv-icon-next) {
    background-image: none;
  }

  br + br + br {
    display: none;
  }

  .title {
    color: #fff;
  }

  .adjustImage[aria-hidden="false"] {
    border: 1px solid;

    .overlays:has(&) {
      background: none;
    }
  }

  .centerPanel .content .attribution {
    z-index: 10;
    margin-block: 0;
  }

  .thumbsView .thumbs {
    width: 100%;
  }
  .thumbsView .thumbs .thumb {
    float: none;
    display: grid;
    align-items: end;
    grid-auto-rows: 1fr auto;
    height: fit-content !important;
    margin: 0;
    padding-inline: 0;
    padding-block: 0.25rem;
    text-align: center;

    &:hover {
      background-color: rgb(255 255 255/0.1);
    }
    &:focus {
      outline: 2px solid var(--uv-green-text);
      outline-offset: -2px;
    }
  }
  .thumb.selected {
    background-color: rgb(255 255 255/0.2);
  }
  .thumb.selected .wrap {
    border: 0;
  }
  .thumbsView .thumb .wrap {
    float: none;
    height: auto !important;
    margin-inline: auto;
  }
  .thumbsView .thumb .label {
    width: 100%;
    overflow: hidden;
    text-align: center;
    white-space: normal;
    background-color: transparent;
  }
  .thumbsView :not(.paged) .info {
    float: none;
    width: auto;
    margin: 0;
    height: 100%;
  }
  .thumbsView .paged {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 1em 0.25em;
  }
  .thumbsView .paged #thumb-0 {
    grid-column: 2;
  }

  .footerPanel {
    position: absolute;
    inset-inline: 0;
    inset-block-end: 0;
  }
  .footerPanel .options {
    .download.btn,
    .share.btn,
    .fullScreen.btn {
      display: inline-flex;
      align-items: center;
    }

    .btn {
      font-size: 14px;
      font-family: Gotham, sans-serif;
      font-weight: 700;
      white-space: normal;
      vertical-align: inherit;
      color: var(--uv-green-text);
    }

    :is(#download-btn, .share.btn) .sr-only {
      /**
       * Tailwind .not-sr-only
       * !important added to overcome Bootstrap's !importants
       */
      position: static !important;
      width: auto !important;
      height: auto !important;
      padding: 0 !important;
      margin: 0 !important;
      white-space: normal !important;
      color: inherit;
      background-color: transparent;
      overflow: visible !important;
      clip-path: none !important;
    }
  }

  [href*="download-btn"]:focus-visible {
    position: absolute;
    z-index: 999;
    width: fit-content;
    max-width: 100%;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    color: LinkText;
    text-decoration: underline;
    text-wrap: balance;
    border: 2px solid;
  }

  .uv-pdf-extension {
    background-color: #212121;
  }

  .toggle {
    display: unset;
  }

  .iiif-metadata-component .groups .group .items .item {
    margin-bottom: 1em;

    & .label {
      margin-top: 1em;
      margin-right: 0;
      padding: 0;
      font-size: inherit;
      background-color: transparent;
    }

    & .value {
      margin-top: 0;
      margin-right: 0;
      & p:empty {
        display: none;
      }
    }
  }

  .overlay {
    background-color: transparent;
  }
  .overlay.adjustImage {
    width: fit-content;
    height: fit-content;
    padding: 0;
  }
  .overlay.download,
  .overlay.share {
    top: auto !important;
    bottom: 40px;
  }
  .overlay .middle .content a {
    color: #10819a;
  }
  .overlay.share .middle .content .tabsContent .shareView {
    height: fit-content !important;

    & .shareFrame {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }
  }
  .overlay .middle .content .imageBtn.iiif {
    position: relative;
  }
  .overlay .middle .content .imageBtn.iiif::after {
    content: "Manifest";
    position: absolute;
    left: calc(100% + 1ch);
    line-height: 30px;
  }
  .overlay .attribution-text {
    text-align: left;
  }
  .overlay .attribution-text img {
    width: 50%;
  }

  .uv-mediaelement-extension .centerPanel .content .wrapper .container {
    padding: 0;
    background-color: transparent;
  }

  .mejs__video .mejs__poster {
    display: none;
  }

  .autocomplete a {
    color: #484c00;
    text-decoration: underline;
  }

  .btn {
    opacity: 1;
  }

  .btn-default:not(.paging) {
    color: #fff;
    background: #565656;
    border-color: #565656;
    text-shadow: none;

    &:hover {
      background-color: var(--uv-green-text);
    }
  }

  .btn-primary {
    color: #fff;
    border-color: var(--uv-green-bg);
    background-color: var(--uv-green-bg);
  }
}

.uv-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uv-modal.hidden {
  display: none;
}
.uv-modal__content {
  position: relative;
  z-index: 40;
  width: max-content;
  padding: 1rem;
  color: white;
  border: 1px solid white;
  border-radius: 0.25rem;
  background-color: black;
  box-shadow:
    0px 25px 58px 0px #0004,
    0px 5px 14px 0px #0003;
}
.uv-modal__btn {
  appearance: none;
  display: inline-block;
  padding-inline: 0.5rem;
  padding-block: 0.125rem;
  font-size: 13px;
  color: white;
  border: 0;
  border-radius: 0;
  background-color: var(--uv-green-bg);
}

/* Prevent "back to top" from blocking the "Full Screen" button: */
#bottom-nav-container {
  display: none;
}
